@using Stolltec.Forms.Model
@using System.Web.Optimization
@{
    var model = new FormsModel(this);
    var ds = model.DataSource("source");
    var data = from x in ds select x["text"];
    var text = string.Join(" - ", data);

}
<!DOCTYPE html>
<html>
<head>
    <title>Ticker</title>
    <link href="@Href("css/site.css")" type="text/css" rel="Stylesheet" />
    <style type="text/css">
        body {
            font-family: @model.Style["font"].FieldInstance.Value;
            color: @model.Style["color"].FieldInstance.Value;
            background-color: @model.Style["bgcolor"].FieldInstance.Value;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/Scripts/jquery", "~/Scripts/forms", "js/jquery.marquee.min.js")

    <div id="ticker">@text</div>

    <script language="javascript" type="text/javascript">
        $('#ticker').marquee({
            speed: @model.Style["speed"].FieldInstance.Value,
            gap: 50,
            delayBeforeStart: 0,
            direction: 'left',
            duplicated: false
        });
    </script>
</body>
</html>