@using Stolltec.Forms.Model
@{
    var id = Request["id"];
    var Model = new FormsModel(this);
    var data = (from x in Model.DataSource("source")
                where x["id"].ToString() == id
                select x).FirstOrDefault();

    Page.Home = Model.NavigateHome();
    Layout = "Layout.cshtml";
}


<div class="header1">           <!-- - - - -  Header  - - - - - -->
      <div>@data.Resolved("cat_name")</div>     
</div>
  

<div class="detail">                <!-- - - - -  Detail Inhalt  - - - - - -->
@if(data == null) {
    <span>Nicht gefunden</span>
} else {
    <!-- <h1>@data.Resolved("cat_name")yyy</h1> -->
    
    <div class="back1"> 
        <a class="back" href="javascript: window.history.back()">Back</a>
    </div>
    <div class="home1">                                    <!-- - - - -  Home Button oben  - - - - - --> 
             <a href="@Page.Home" class="home">Home</a>      
    </div>
    <!-- <a class="home" href="@Page.Home">Home</a>  -->

    <div class="content">                                   <!-- - - - -  Texte oben  - - - - - --> 
        <h2>@data.Resolved("detail_term1")</h2>
        <h3>@data.Resolved("detail_term2")</h3>
        <p>
            @data.Resolved("detail_house")<br>
            @data.Resolved("detail_level")<br>
            @data.Resolved("detail_entrance")
        </p>
        <p>
            @if (!data.Empty("detail_phone")) {<text>Fon: @data.Resolved("detail_phone")<br> </text>}
            @if (!data.Empty("detail_email")) {<text>E-mail: @data.Resolved("detail_email")</text>}
        </p>
        <p>
            @data.Resolved("detail_info")
        </p>
    </div>

    if (!data.Empty("detail_map")) 
        {
           <div class="map2">   <img src="@data.DataFileHandler("detail_map")" alt="Lageplan"/> </div>
        }
}  
</div>

<div class="back2">                             <!-- - - - -  Back Button unten  - - - - - --> 
    <a class="back" href="javascript: window.history.back()">Back</a>
</div>

<div class="home2">                             <!-- - - - -  Home Button unten  - - - - - --> 
    <a href="@Page.Home" class="home">Home</a>    
</div>

<div class="QR-Code">   <img src="xyz" alt="QR-Code"/> </div>


<footer> </footer>