@using Stolltec.Forms.Model
@{
    var cat = Request["cat"];
    var cat_name = Request["name"];
    var Model = new FormsModel(this);
    var data = from x in Model.DataSource("source")
                where x["cat_id"].ToString() == cat
                orderby x.Resolved("list_term1").ToString()
                select x;

    Page.Home = Model.NavigateHome();
    Layout = "Layout.cshtml";
}

<div class="list" data-category="@cat">

  <div class="header1">           <!-- - - - -  Header  - - - - - -->
      <div>@cat_name</div>     
  </div>
  
  <div class="Scrollbereich">
    <ul class="divScroll">          <!-- - - - -  Bereich Auflistung  - - - - - -->
      @{
      var letters = new List<char>();
      char? firstChar = null;
      foreach (var x in data) {
        <li class="item">
          @{
            var c1 = x.Resolved("list_term1").ToString().ToUpper().FirstOrDefault();
            if (c1 != firstChar) {
              firstChar = c1;
              letters.Add(c1);
              <a id="@("anchor" + c1)" class="anchor"></a>
            }
          }
          <a href="@Model.Navigate("Details.cshtml", new { id = x.Resolved("id") })">
            <div class="col1">
              <div class="auflistung1">@x.Resolved("list_term1")</div>
              <div class="auflistung2">@x.Resolved("list_term2")</div>
            </div>
            <div class="col2">
            Geb&#228ude:  @x.Resolved("list_house") <br />
              Ebene: @x.Resolved("list_level") <br />
            Eingang: @x.Resolved("list_entrance")
            </div>
        </a>
      </li>
    }}
    </ul>
  </div>


  <div class="home1">                                    <!-- - - - -  Home Button oben  - - - - - --> 
      <a href="@Page.Home" class="home">Home</a>      
  </div>



  <img class="hand2" src="hand1.png" />


  <div class="scrollbar">                             <!-- - - - -  Scrollleiste  - - - - - -->
      <div class="scrollup" id="btnUp">
      </div>
      <div class="scrolldown" id="btnDown">
      </div>
  </div>


                                                      <!-- - - - -  Schnellzugriff  oben - - - - -  -->
                                                      
  <div class="schnellzugriff1"> 
      <div class="Text_Schnellzugriff"> Bitte den Anfangsbuchstaben des gesuchten Begriffs w&auml;hlen  </div>                                                 
      @if ((string)Model.Style["list_options"].FieldInstance.Value == "anchor") {
        <ul class="hooks">
          @for (char a = 'A'; a <= 'Z'; a++) {
            if (letters.Contains(a)) {
              <li><a href="@("#anchor" + a)">@a</a></li>
            } else {
              <li class="disabled1"> <div class="Buttons-Schnellzugr"> @a </div></li>  
            }
          }
        </ul>
      }
  </div> 

                                                     <!-- - - - -  Schnellzugriff  unten - - - - - -->
  <div class="schnellzugriff2"> 
      <div class="Text_Schnellzugriff"> Bitte den Anfangsbuchstaben des gesuchten Begriffs w&auml;hlen  </div>                                                  
      @if ((string)Model.Style["list_options"].FieldInstance.Value == "anchor") {
        <ul class="hooks">
          @for (char a = 'A'; a <= 'Z'; a++) {
            if (letters.Contains(a)) {
              <li><a href="@("#anchor" + a)">@a</a></li>
            } else {
              <li class="disabled1"> <div class="Buttons-Schnellzugr"> @a </div></li>  
            }
          }
        </ul>
      }
  </div> 



  <div>                             <!-- - - - -  Behinderte Button unten  - - - - - --> 
      <a href="@Page.Home" class="handicap">Handicap</a>    
  </div>

  <div class="home2">                             <!-- - - - -  Home Button unten  - - - - - --> 
      <a href="@Page.Home" class="home">Home</a>    
  </div>









  <footer>                                 
  </footer>



  <script type="text/javascript">
  $(document).ready(function() {
    var el = $(".divScroll").get(0);
    if (el) el.scrollTop = 575;

    $(".schnellzugriff2").hide();
    $("a.handicap").click(function(e) {
      $(".schnellzugriff2").toggle();
      e.preventDefault();
    });

    var scroll = $(".divScroll").customScroll({
      up: $("#btnUp"),
      down: $("#btnDown"),
      disabledCssClass: "disabled",
      scrollStep: 500
    });	
  });
  </script>
</div>