@using Stolltec.Forms.Model
@{
    // Encoding: UTF-8 ÄÖÜ
    var Model = new FormsModel(this);
    Page.Home = Model.NavigateHome();
    Layout = "Layout.cshtml";
}

<div class="header1">           <!-- - - - -  Header  - - - - - -->
      <div>Suchen</div>     
</div>

  <div class="home1">                                    <!-- - - - -  Home Button oben  - - - - - --> 
      <a href="@Page.Home" class="home">Home</a>      
  </div>


<div class="search divScrollsearch">

    <ul class="results"></ul>

    <input id="txtFind" />


                      <!-- - - - - - Keyboard - - - - - -->
    <div id="keyboard">
        @{
            var type = (string)Model.Style["search_options"].FieldInstance.Value;
            var keyboard = new string[] { "QWERTZUIOPÜ","ASDFGHJKLÖÄ","YXCVBNM" };
        }
        <div class="reihe01">
            @foreach (var c in "1234567890") { <a role="button">@c</a> }
        </div>
        <div class="reihe02">
            @foreach (var c in keyboard[0]) { <a role="button">@c</a> }
        </div>
        <div class="reihe03">
            @foreach (var c in keyboard[1]) { <a role="button">@c</a> }
        </div>
        <div class="reihe04">
            @foreach (var c in keyboard[2]) { <a role="button">@c</a> }
        </div>
        <div class="Tastatur_untere_Reihe">
            <a role="button">-</a>
            <a data-key=" " role="button" class="space">&nbsp;</a>
            <a data-key="&#13;" role="button" class="Taste_Entf">Entf</a>
        </div>
    </div>



    <script type="text/javascript">
    $(document).ready(function () {

        $("ul.results").findResult({
            url: "@Html.Raw(Model.Navigate("SearchResults.cshtml", new { findValue  = "~find~", type=type }))",
            param: { find: "#txtFind" }
        });

        $("#keyboard a").keyboard({ textbox: "#txtFind" });
    });
    </script>
</div>    


  <div class="home2">                             <!-- - - - -  Home Button unten  - - - - - --> 
      <a href="@Page.Home" class="home">Home</a>    
  </div>



<footer>    </footer>